@font-face {
  font-family: "caneladeck";
  src: url("./fonts/CanelaDeck-Black-Trial.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "niramit";
  src: url("./fonts/Niramit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --pink: #e25dcd;
  --white: #eef1f6;
  --black: #000;
  --yellow: #e6e4a3;
  --header-font: "caneladeck", Georgia;
  --second-font: "niramit", Verdana;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

/* Everyday usage  */

.italics {
  font-style: italic;
}
.bold {
  font-weight: bolder;
}
.larger {
  font-size: xx-large;
}
.underline {
  text-decoration: underline;
}

.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

/* Navigation */

header {
  width: 100%;
}

.navbar {
  color: var(--black);
  width: 90%;
  margin: 15px 5%;
  border-radius: 10px;
  filter: drop-shadow(0px 6px 17px #0000007c);
  background: rgba(238, 241, 246);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
}

.navbar-nav {
  margin: 0 20%;
}

.navbar-nav a {
  padding: 10px 0 0;
  font-weight: bolder;
  /* font-size: x-large; */
  border-bottom: solid 4px #00000000;
  text-align: center;
  font-family: var(--header-font);
}

.navbar-nav a:hover {
  border-bottom: solid 4px var(--yellow);
}

nav .nav-header .navbar-toggler {
  position: absolute;
  right: 14px;
  top: 14px;
}

.nav-header {
  width: 100%;
  padding: 2px 14px;
  display: block;
  z-index: 10;
}

.navbar-brand img {
  width: 50px;
}

.navbar-nav .dropdown-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 5%;
  border-radius: 10px;
  filter: drop-shadow(0px 6px 17px #0000007c);
  background: rgba(238, 241, 246, 0.8);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
}
.navbar-nav .dropdown-menu a {
  color: var(--black);
}

#contact-btn {
  background: var(--pink);
  color: var(--white);
  border-radius: 10px;
  padding: 12px 12px 5px;
}

#contact-btn-main {
  background: var(--pink);
  color: var(--white);
  border-radius: 10px;
  padding: 5px 12px;
  width: 150px;
  text-align: center;
}

.admin-dropdown {
  width: 100%;
}

/* landing */

/* Hero-section */

.hero-holder {
  padding-top: 100px;
  padding-bottom: 25px;
  background: var(--white);
  filter: drop-shadow(0px 6px 17px #0000007c);
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  background: var(--white);
}

.hero-image,
.profile-img {
  max-width: 100%;
}

.hero-info {
  padding: 5px 15px;
}

.hero-info h1 {
  font-family: var(--header-font);
  margin: 0;
}

.hero-info p {
  font-family: var(--second-font);
}

/* History */

.history-section {
  width: 100%;
  /* padding: 15px; */
}

.history {
  width: 100%;
  padding: 15px;
  background-color: var(--white);
  filter: drop-shadow(0px 6px 17px #0000007c);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.history h1 {
  font-family: var(--second-font);
}
.history h1 span {
  font-family: var(--header-font);
}

.history img {
  width: 90%;
  margin: 10px 0;
}

/* Newletter */

.newsletter {
  width: 100%;
  text-align: center;
  padding: 25px 0;
}

.newsletter-code {
  border-radius: 4px;
  margin: 0;
  background-color: transparent;
}

iframe {
  width: 100%;
  padding: 0 10%;
  border-radius: 0px;
}

.newsletter h1 {
  font-family: var(--header-font);
}
.newsletter p {
  font-family: var(--second-font);
  padding: 0 10%;
}

/* Footer */

.footerline {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer img {
  width: 8%;
  padding-bottom: 7px;
}

.footer span {
  width: 44%;
  background-color: var(--black);
  height: 2px;
}

.link-section h1 {
  font-family: var(--header-font);
  width: 100%;
  text-align: center;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link-list a {
  width: 30%;
  text-align: center;
  color: var(--black);
  text-decoration: none;
  padding: 8px;
  border-radius: 8px;
  transition: 0.15s all ease-in-out;
}

.link-list a:hover {
  background-color: var(--pink);
  color: var(--white);
  transition: 0.15s all ease-in-out;
}

/* Blog Card */

.blog-holder {
  position: relative;
  height: 840px;
  max-width: 100%;
  padding: 15px;
}

.blog-card {
  display: block;
  position: relative;
  height: 250px;
  margin: 8px 0px;
  color: var(--white);
  background: rgb(136, 36, 121);
  background: linear-gradient(
    180deg,
    rgba(136, 36, 121, 1) 8%,
    rgba(0, 0, 0, 1) 76%
  );
}

.card-icon {
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.card-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 250px;
  object-fit: cover;
  object-position: 0% 0%;
  filter: saturate(0%);
  opacity: 30%;
}

.card-title {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 125px;
  width: 100%;
  padding-left: 5px;
  border-bottom: solid 2px var(--white);
}

.card-desc {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 160px;
  width: 100%;
  padding: 5px 15px;
}

.links-screen {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 120px 10%;
}

.links-screen img {
  width: 75px;
  margin-bottom: 25px;
}

.links-screen a,
.links-screen h2 {
  width: 80%;
  text-align: center;
}

.links-screen a {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black);
  border-bottom: 2px solid var(--yellow);
  padding: 10px 0;
  margin: 6px 0;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}

.links-screen a:hover {
  filter: drop-shadow(0px 6px 17px #00000035);
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid var(--pink);
}

/* -------- */
/* DESKTOPS */
/* -------- */

@media only screen and (min-width: 992px) {
  .nav-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .navbar-nav {
    margin: 0;
    width: 100%;
  }

  #contact-btn {
    position: absolute;
    right: 7px;
    top: 11px;
  }

  .hero-holder {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .hero-image {
    margin-left: 8%;
    width: 35%;
  }
  .hero-info {
    margin-right: 8%;
    width: 40%;
  }

  .hero-info h1 {
    font-size: 400%;
  }
  .larger {
    font-size: 100%;
  }

  #contact-btn-main {
    position: absolute;
    right: 13%;
    margin-top: 15px;
  }

  .blog-section {
    display: flex;
    justify-content: center;
  }

  .blog-holder {
    width: 90%;
    height: 700px;
    padding: 25px 0;
  }

  .latest-blog,
  .next-two-blogs {
    width: 49%;
    margin: 1%;
  }

  .inner-blog-holder {
    display: flex;
    flex-wrap: nowrap;
  }

  .first-blog {
    height: calc(500px + 2%);
  }
  .latest-blog a {
    height: calc(500px + 2%);
  }

  .latest-blog a .card-img {
    height: calc(500px + 2%);
  }
  .first-blog img {
    height: calc(500px + 2%);
  }
  .latest-blog .blog-card .card-title {
    top: 300px;
  }

  .latest-blog .blog-card .card-desc {
    top: 350px;
    font-size: 25px;
  }

  .card-title {
    font-size: 175%;
  }

  .history {
    width: 90%;
    margin: 15px 5%;
    border-radius: 10px;
  }

  .history-holder {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .history h1 {
    width: 100%;
    text-align: center;
  }
  .history img {
    max-height: 70px;
  }

  .newsletter {
    padding: 50px;
  }

  .newsletter h1 {
    font-size: 300%;
    margin: 0;
  }

  .newsletter p {
    font-size: 200%;
    padding: 0 20%;
  }

  iframe {
    width: 100%;
    padding: 0 20%;
    border-radius: 0px;
  }

  .link-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .link-section h1 {
    width: 50%;
    font-size: 400%;
  }

  .link-list {
    width: 50%;
  }

  .footer img {
    width: 5%;
  }

  .footer span {
    width: 47%;
  }

  .links-screen h2 {
    width: 100%;
    padding: 0 10%;
  }

  .links-screen a {
    width: 40%;
    margin: 15px 5%;
    border-radius: 0;
    transition: 0.2s all ease-in-out;
  }

  .links-screen a:hover {
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
  }
}
